<% @current_cart.update_price %>

<h1>My cart</h1>

<% @current_cart_items.each do |cart_item| %>
	<% @item_product = @catalog.where(product_id: cart_item.product_id)%>
	<div class="containter cart_row_container">
		<div class="row cart_row">
	  		<div class="col-xs-2 cart_col">
	  			<h2> <%= @item_product.first.name %> </h2>
	  		</div>
		  	<div class=" col-xs-2 cart_col">
		  		<p>unit price <%= cart_item.product.price %> </p>
		  	</div>
		  	<div class="col-xs-1 cart_col">
		  		<p>qty: <%= cart_item.amount %></p>
		  	</div>
		  	<div class=" col-xs-2 cart_col">
		  		<p>subtotal price <%= cart_item.total_price %> </p>
		  	</div>
	  		<div class="col-xs-2 cart_col">
	  			<%= link_to "Delete", cart_item, {method: :delete, class: "btn"} %>
	  		</div>
		</div>
		<div class="row cart_row">
			<%= cart_item.product.description%>
		</div>

	</div>
<% end %>


<h3> Total price: <%= @current_cart.price %></h3>
<p>Cart ID (testing only):  <%= @current_cart.id %></p>

<br><br>

<h3>Checkout: <br></h3>

<%= csrf_meta_tags %>


<%= form_tag("/checkout", method: "post", id: "payment-form") do %>
	<section>
		<div class="bt-drop-in-wrapper">
		  <div id="bt-dropin"></div>
		</div>

        <label for="amount">
          <span class="input-label">Amount</span>
          <div class="input-wrapper amount-wrapper">
            <input id="amount" name="amount" type="tel" min="1" placeholder="Amount" value="10">
          </div>
        </label>
    </section>

        <button class="button" type="submit"><span>Test Transaction</span></button>
<% end %>


<script src="https://js.braintreegateway.com/js/braintree-2.32.0.min.js"></script>

<script>
  (function () {
    var checkout = new Demo({
      formID: 'payment-form'
    });
    var client_token = "<%= @client_token %>";
    braintree.setup(client_token, "dropin", {
      container: "bt-dropin"
    });
  })()
</script>